/* Стилизация кнопки */
.grid__button {
    margin-bottom: 10px;
}
.button {
    width: 189px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
}
.button__disabled {
    opacity: 0.5;
    cursor: default;
}
.button-text {
    font-family: roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    line-height: 18.75px;
}
.button-text__white {
    color: white;
}
.button-text__grey {
    color: #495057;
}
.button-content {
    padding-top: 15px;
}
.button__primary {
    background: #4263EB;
    ;
}
.button__primary:hover {
    background: #2342C0;
}
.button__secondary {
    background: #7048E8;
}
.button__secondary:hover {
    background: #5028C6;
}
.button__alternate {
    border: 1px solid #ACB5BD;
}
.button__alternate:hover {
    border: 1px solid #212429;

}