.modal{
    position: absolute;
    display: none;
    flex-flow: column wrap;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    justify-content: center;

}
.modal__overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: #C4C4C4;
    opacity: 0.5;
    z-index: 1;
}
.modal__popup{
    z-index: 2;
    background: var(--white);
    max-width: 428px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 30px 40px;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}
.popup__close{
    background-image: url(../../assets/images/cross_close.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;;
}
.popup__title{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    margin-bottom: 14px;

}
.popup__paragraph{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 auto;

}