.skeleton{
    margin: 0 auto;
    width: 579px;
    height: 192px;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    display: flex;
    flex-flow: column wrap;
}
.skeleton__top{
    margin: 24px 40px 24px 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.skeleton__bottom{
    margin: 0px 40px 32px 24px
}
.skeleton__top_pic{
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 64px;
    width: 64px;
    border-radius: 100px;
}
.skeleton__top_texts{
    margin-left: 16px;
}
.skeleton__text{
    height: 20px;
    width: 100%;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.skeleton__text:last-child{
    margin-bottom: 0px;
}
.skeleton__text_name{
    width: 172px;
}
.skeleton__text_surname{
    width: 257px;
}