.tooltip{
    display: inline-block;

    position: relative;
}
.tooltip__trigger{
    width: 24px;
    height: 24px;
    /*background-image: url(../../assets/images/Icon/Help.svg);*/
}
.tooltip__help{
    width: 129px;
    height: 45px;
    padding: 13px 21px;
    background: var(--primary);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: var(--grey-2);
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -51px);
    display: none;    
}

.tooltip__help::before{
    content: "";
    border: 14px solid transparent;
    border-bottom: none;
    border-top: 7px solid var(--primary);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__help {
    animation: tooltipBlink 1s ease-out;
    display: block;
}
@keyframes tooltipBlink {
    0% {

        transform: translate(-50%, -60px);
        opacity: 0%;
    }
    100 {

        transform: translate(-50%, -54px);
        opacity: 100%;
    }
    
}